/* BASIC STYLING */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --border-color: #333333;
  --text-color: #333333;
  --background-color: #ffffff;
  --square-hover-bg-color: rgba(72, 103, 196, 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  background: var(--background-color);
  color: var(--text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: 'Poppins', sans-serif;
}

/* TIC TAC TOE */
/* Title */
h2.player {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 3rem;
  user-select: none;
}

/* Squares */
.square-container {
  width: 375px;
  height: 375px;

  display: grid;
  grid-template-columns: 125px 125px 125px;
  grid-template-rows: 125px 125px 125px;

  border-radius: 40px;
  overflow: hidden;

  & .square {
    width: 125px;
    height: 125px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;

    user-select: none;
    transition: 0.8s;

    &:hover {
      background: var(--square-hover-bg-color);
      transition: 0.2s;
    }

    /* Add classic Tic Tac Toe borders */
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(7),
    &:nth-of-type(8) {
      border-right: 2px solid var(--border-color);
    }

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      border-bottom: 2px solid var(--border-color);
    }
  }
}
